body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.listing-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.listing-page .ingredients,
.listing-page .products {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.listing-page .ingredients {
  flex: 1;
}
.listing-page .products {
  flex: 3;
}

.ingredient {
  cursor: pointer;
}
.ingredient.active {
  font-weight: bold;
}
